* {
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 10px;
}

body {
    color: white;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

}

h2 {
    font-size: 50px;

}

.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.container>label {
    font-size: 25px;
    margin-left: 50px;
    margin-top: 10px;
    font-style: italic;
    color: brown;
}

#comment {
    /* background-color: cornflowerblue; */
    background-color: whitesmoke;
    height: 80px;
    width: 350px;
    margin: 5px 0 8px 5px;
    padding: 5px;
    border-radius: 15px;
    font-size: 16px;
}

#addComments {
    width: 70px;
    height: 30px;
    padding: 5px;
    background-color: blueviolet;
    color: white;
    margin-left: 140px;
    border-radius: 10px;
    font-size: 17px;
}

.wrapper>button {
    margin-right: 5px;
    padding: 5px;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    min-height: 10px;
    min-width: 50px;
}

#allComments {
    font-size: 20px;
}

.wrapper>textarea {
    background-color: rgb(255, 133, 105);
    height: 50px;
    width: 200px;
    margin: 5px 0 8px 5px;
    padding: 5px;
    border-radius: 15px;
    font-size: 15px;
}

.deleteComment {
    background-color: red !important;
}

.likeComment {
    background-color: blue !important;
}
